.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-min {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}
button {
  height: 52px;
}
body {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
